---
import { Image } from 'astro:assets';
import logoGreen from "../assets/images/logo-green.svg";
import iconBeer from "../assets/images/icon-beer.svg";
import iconFood from "../assets/images/icon-food.svg";
import iconMenu from "../assets/images/icon-menu.svg";
import iconWine from "../assets/images/icon-wine.svg";

import LanguagePicker from '../components/LanguagePicker.astro';

import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

{/*
The navbar is a table with fixed layout. The language picker should be next to it, with a
smaller cell size.

The outer container is needed just to center the whole thing.
*/}
<div id="navbar-main" class="navbar-container-container">
    <div class="navbar-container">
        <nav class="navbar">
            <a class="nav-link" href={translatePath("")}>
                <div class="navbox nav-logo">
                    <Image src={logoGreen} alt="Ubbìpò" width="32" />
                    Ubbìpò
                </div>
            </a>
            <div></div>
            <a id="nav-button-menu" class="nav-link" style="cursor: pointer;">
                <div class="navbox">
                    <Image class="nav-icon" src={iconMenu} alt="Menu" />
                    Menu
                </div>
            </a>
        </nav>
        <LanguagePicker />
    </div>
</div>

{/*
Appearing-and-disappearing navbar with menu links.
*/}
<div id="navbar-menu" class="navbar-container-container">
    <div class="navbar-container">
        <nav class="navbar">
            <a class="nav-link" href={translatePath("menu/cibo")}>
                <div class="navbox">
                    <Image class="nav-icon" src={iconFood} alt={t('nav.food')} />
                    {t('nav.food')}
                </div>
            </a>
            <a class="nav-link" href={translatePath("menu/vini")}>
                <div class="navbox">
                    <Image class="nav-icon" src={iconWine} alt={t('nav.wine')} />
                    {t('nav.wine')}
                </div>
            </a>
            <a class="nav-link" href={translatePath("menu/bevande")}>
                <div class="navbox">
                    <Image class="nav-icon" src={iconBeer} alt={t('nav.drinks')} />
                    {t('nav.drinks')}
                </div>
            </a>
        </nav>
</div>

<style>
    #navbar-menu {
        top: 5rem;
        display: none;
        opacity: 0;
        transition: opacity 0.3s;

        @media (max-width: 700px) {
            top: 4rem;
        }
    }
    #navbar-menu .navbar-container {
        max-width: 1050px;
    }
    
    .navbar-container-container {
        position: fixed;
        top: 0;
		display: flex;
		justify-content: center;
        width: 100%;
        z-index: 100;

        height: 5rem;

        background: var(--white-bg);

        @media (max-width: 700px) {
            height: 4rem;
        }
    }

    .navbar-container {
        width: 100%;
        max-width: 1100px;

		display: flex;
		justify-content: center;

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom: 1px solid var(--gray);
    }
    
	.navbar {
        display: table;
        table-layout: fixed;
        
        width: 100%;
	}
	
	.nav-link {
        display: table-cell;
		text-align: center;
        vertical-align: middle;
		text-decoration: none;
        
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        
		color: var(--brown);
        font-family: 'MADE Tommy Soft Light', sans-serif;
        font-size: 22px;

        transition: background-color 0.3s; /* Transition effect on hover */

		@media (max-width: 600px) {
			font-size: 16px;
		}
	}
	.nav-link:hover {
		background-color: var(--gray-bg);
		color: black;
	}

    .nav-logo {
        font-family: 'MADE Tommy Soft Regular', sans-serif;
        font-size: 26px;

        @media (max-width: 600px) {
            font-size: 18px;
        }
    }

    .navbox {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40%;
        margin: auto;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
        @media (max-width: 600px) {
            width: 80%;
        }

        /* Prevents the border from moving the text when it appears */
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }
    .nav-link-active .navbox {
        border-bottom: 2px solid var(--green);
    }
    .navbox img {
        margin-right: 0.5rem;
    }

    .nav-icon {
        width: 19px;

        @media (max-width: 600px) {
            width: 16px;
        }
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        // Set the navbar-menu to be below navbar-main.
        function setNavbarMenuPosition() {
            const navbarMain = document.getElementById('navbar-main');
            const navbarMenu = document.getElementById('navbar-menu');
            if (!navbarMain || !navbarMenu) {
                return;
            }
            
            navbarMenu.style.top = navbarMain.offsetHeight + 'px';
            // Set the height to be a bit less than the main navbar.
            navbarMenu.style.height = navbarMain.offsetHeight - 12 + 'px';
        }

        var navbarVisible = false;
        function toggleNavbarMenu() {
            const navbarMain = document.getElementById('navbar-main');
            const navbarMenu = document.getElementById('navbar-menu');
            if (!navbarMain || !navbarMenu) {
                return;
            }
            
            function showNavbarMenu() {
                navbarMenu!.style.opacity = "1";
            }
            function hideNavbarMenu() {
                navbarMenu!.style.display = "none";
            }
            
            if (!navbarVisible) {
                navbarMenu!.style.display = "flex";
                setTimeout(showNavbarMenu, 5);
                navbarVisible = true;
            } else {
                navbarMenu.style.opacity = "0";
                setTimeout(hideNavbarMenu, 300);
                navbarVisible = false;
            }
        }

        setNavbarMenuPosition();
        // Set the logo position when the window resizes.
        window.addEventListener('resize', () => {
            setNavbarMenuPosition();
        });

        // Show the menu when the menu button is clicked.
        const menuButton = document.getElementById('nav-button-menu');
        if (menuButton) {
            menuButton.addEventListener('click', () => {
                toggleNavbarMenu();
            });
        }
        
        // Set the current page in the navbar to active.
        // Trim any trailing slashes from the current page.
        const currentPage = window.location.pathname.replace(/\/$/, '');
        const navLinks = document.querySelectorAll('.nav-link');
        navLinks.forEach(link => {
            if (link.getAttribute('href') === currentPage) {
                // Add the nav-link-active class.
                link.classList.add('nav-link-active');
            }
        });
    });
</script>