---
interface Props {
  location?: string;
  tags?: Array<string>;
}

import { Image } from 'astro:assets';
import iconLocation from "@images/icon/location.svg";
import iconVegan from "@images/icon/vegan.svg";
import iconVegetarian from "@images/icon/vegetarian.svg";
import iconNoSulfites from "@images/icon/no-sulfites.svg";

const { location, tags = [] } = Astro.props;

import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="menu-tags">
  {(location) && <Image src={iconLocation} alt={t("menu.location")} width="14" /> <span>{location}</span>}

  {(tags.includes("vegetarian") || tags.includes("vegetariano")) && <Image class="filter-green" src={iconVegetarian} alt={t("menu.vegetarian")} width="18" /> <span class="menu-tag-vegetarian">{t("menu.vegetarian")}</span>}

  {(tags.includes("vegan") || tags.includes("vegano")) && <Image src={iconVegan} alt={t("menu.vegan")} width="16" /> <span class="menu-tag-vegan">{t("menu.vegan")}</span>}

  {(tags.includes("no-sulfites")) && 
      <Image src={iconNoSulfites} class="filter-brown" alt={t("menu.no-sulfites")} width="20" /> <span class="menu-tag-no-sulfites">{t("menu.no-sulfites")}</span>}
</div>

<style lang="less">
    .menu-tags {
        margin-top: 0.5rem;
        margin-bottom: 0;

        display: flex;
        align-items: center;

        img {
            margin-left: 0.25rem;
            margin-right: 0.5rem;
            color: var(--green);
        }

        span {
            font-size: 14px;
            margin-bottom: 0;
            margin-left: 0.25rem;
            margin-right: 1.75rem;
        }
    }
    .menu-tag-vegan, .menu-tag-vegetarian {
        color: var(--green);
        font-weight: normal;
    }
    .menu-tag-no-sulfites {
        color: var(--brown);
        font-weight: normal;
    }
</style>