---
import { Image } from 'astro:assets';
import iconBio from "../assets/images/icon-bio.svg";
import iconLocation from "../assets/images/icon-location.svg";
import iconVegan from "../assets/images/icon-vegan.svg";
import iconNoSulfites from "../assets/images/icon-no-sulfites.svg";

const { name, description, producer, location, tags, glass, bottle } = Astro.props;
const splitTags = tags.split(",").map(tag => tag.trim());
---

<div class="menu-item">
    <div class="menu-heading">
        <h3>{name}</h3>
        {(splitTags.includes("bio")) 
            ? <Image src={iconBio} alt="Bio." width="24" 
            class="icon-bio" 
            />
            : ""
        }
    </div>

    <div class="menu-item-content">
        <div class="menu-item-column">
            <span><i>{description}</i></span>
            <span><span class="producer">Producer</span>{producer}</span>
        </div>
        <div class="menu-item-column">
            {(glass) ? <span class="price">glass <div class="price-value">{glass}</div></span> : ""}
            <span class="price">bottle <div class="price-value">{bottle}</div></span>
        </div>
    </div>

    <div class="menu-tags">
        <Image src={iconLocation} alt="Location." width="16" /> <span>{location}</span>

        {(splitTags.includes("vegan")) ? <Image src={iconVegan} alt="Vegan." width="16" /> <span>Vegan</span> : ""}

        {(splitTags.includes("no-sulfites")) ? <Image src={iconNoSulfites} alt="No sulfites." width="16" /> <span>No Sulfites</span> : ""}
    </div>
</div>

<style>
    .menu-item {
        margin-top: 1rem;
        /* padding-left: 1rem;
        padding-right: 1rem; */
    }

    .menu-heading {
        display: flex;
        align-items: center;

        @media (max-width: 600px) {
            justify-content: space-between;
        }
    }
    
    .menu-item-content {
        color: var(--brown);
        font-weight: bold;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
    .menu-item-content span {
        margin-bottom: 0.25rem;
    }
    
    .menu-item-column {
        display: flex;
        flex-direction: column;
    }
    
    .menu-item-row span {
        margin-bottom: 0rem;
    }
    
    .icon-bio {
        display: inline-block;
        margin-left: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .producer {
        margin-right: 0.75rem;
        font-family: 'MADE Tommy Soft Regular', sans-serif;
        font-weight: 400;
    }
    .price {
        white-space: nowrap;
        
        display: flex;
        justify-content: space-between;
        text-align: right;
    }
    .price-value {
        display: inline-block;
        width: 2rem;
        
        font-family: 'MADE Tommy Soft Regular', sans-serif;
        font-weight: 400;
    }

    .menu-tags {
        margin-top: 0.75rem;

        display: flex;
        align-items: center;
    }
    .menu-tags img {
        margin-left: 0.75rem;
        margin-right: 0.5rem;
    }
    .menu-tags span {
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 0.25rem;
        margin-right: 1rem;
    }
</style>