---
import { Image } from "astro:assets";
import ShootingMain from "@assets/images/index/main.jpeg";
import Index1 from "@assets/images/index/index1.jpg";
import Index2 from "@assets/images/index/index2.jpeg";
import LogoFullWhite from "@assets/images/logo/full-white.svg";

import Layout from "@layouts/Layout.astro";
import FadeIn from "@components/FadeIn.astro";
import PageContainer from "@components/PageContainer.astro";
import PageSection from "@components/PageSection.astro";

import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("index.title")} description={t("index.description")}>
    <Image class="index-img-main" src={ShootingMain} alt={t("site.name")} />
    <Image class="index-img-logo" src={LogoFullWhite} alt={t("site.name")} />
    <noscript>
        <Image class="index-img-logo-noscript" src={LogoFullWhite} alt={t("site.name")} />
    </noscript>

    <PageContainer>
        <div style="padding: 0 1rem;">
            <FadeIn> <h2 class="index-header">{t("index.1.title")}</h2> </FadeIn>
            <div class="index-content">
                <FadeIn classList={["index-item-img"]}>
                    <Image class="index-img" src={Index1} alt={t("index.1.title")} />
                </FadeIn>
                <FadeIn classList={["index-item-description"]}>
                    <p class="index-description">{t("index.1.description")}</p>
                </FadeIn>
            </div>
            
            <FadeIn> <h2 class="index-header">{t("index.2.title")}</h2> </FadeIn>
            <div class="index-content index-large-reverse">
                <FadeIn classList={["index-item-img"]}>
                    <Image class="index-img" src={Index2} alt={t("index.2.title")} />
                </FadeIn>
                <FadeIn classList={["index-item-description"]}>
                    <p class="index-description">{t("index.2.description")}</p>
                </FadeIn>
            </div>
        </div>

        <PageSection>
            <br>
            <slot name="lightwidget" />
        </PageSection>
    </PageContainer>
</Layout>

<style lang="less">
    .index-img-main {
        height: 100vh;
        object-fit: cover;
    }
    .index-img-logo {
        position: absolute;
        
        /* Start the logo with no opacity. We animate it with JS. We also need to position it over the main image. */
        opacity: 0;
        transition: opacity 2s;

        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
    }
    .index-img-logo-noscript {
        position: absolute;

        width: 40%;
        height: auto;
        left: 30%;
        top: 12%;
        
        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
    }

    .index-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        row-gap: 2rem;

        padding: 0 2rem;
        
        @media (max-width: 1200px) {
            flex-direction: column;
        }
        @media (max-width: 600px) {
            padding: 0 1rem;
        }

        :global(.index-item-img) {
            flex-basis: 50%;
        }
        :global(.index-item-description) {
            flex-basis: 50%;
        }

        img {
            height: auto;

            border: 1px solid var(--brown);
            border-radius: 0.5rem;

            @media (max-width: 1200px) {
                width: 100%;
                max-width: 500px;
            }
        }
        p {
            width: 100%;
            max-width: 40ch;
            text-align: justify;

            margin: 0;

            padding: 1rem 1rem;
            border-top: 1px solid var(--green);
            border-bottom: 1px solid var(--green);
            border-radius: 0.5rem;

            font-size: var(--font-size-important);
            color: var(--brown);

            @media (max-width: 1200px) {
            }
            @media (max-width: 600px) {
                font-size: var(--font-size-base);
            }
        }
    }
    .index-content.index-large-reverse {
        flex-direction: row-reverse;
        
        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }

    .index-header {
        margin-top: 3rem;
        margin-bottom: 2.5rem;

        text-transform: none;

        @media (max-width: 600px) {
            font-size: 1.6rem;
        }
    }
</style>

<script>
    function setLogoPosition() {
        // Put the logo in the middle of the main image.
        const mainImg = document.querySelector('.index-img-main') as HTMLImageElement;
        const logo = document.querySelector('.index-img-logo') as HTMLImageElement;
        if (!mainImg || !logo) return;

        const mainImgWidth = mainImg.width;
        const mainImgHeight = mainImg.height;

        if (mainImgWidth < 900) {
            logo.style.width = `${mainImgWidth * 0.5}px`;
        }

        const logoWidth = logo.width;
        const logoHeight = logo.height;
        const logoX = mainImgWidth / 2 - logoWidth / 2;
        const logoY = mainImgHeight / 2 - logoHeight / 2 + 32;
        logo.style.left = `${logoX}px`;
        logo.style.top = `${logoY}px`;
        logo.style.opacity = "0.89";
    }

    document.addEventListener('astro:page-load', () => {
        setLogoPosition();
    });

    window.addEventListener('resize', () => {
        setLogoPosition();
    });
</script>