---
import "@assets/styles/reset.css";
import "@assets/styles/global.css";

import { ViewTransitions } from "astro:transitions";

import Footer from "@components/Footer.astro";
import MainNav from "@components/MainNav.astro";
import WhatsApp from "@components/WhatsApp.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import { getLangFromUrl, useTranslations, urlToLangUrl } from '@i18n/utils';
import { languages } from '@i18n/ui';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
<!-- Google Tag Manager -->
<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WM76QWGH');</script>
<!-- End Google Tag Manager -->

		<title>{`${title} - ${t("site.name")}`}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		{
			Object.keys(languages).map((language) =>
				<link rel="alternate" hreflang={language} href={`${urlToLangUrl(Astro.url!, language as "it" | "en")}`} />
			)
		}

		<meta property="og:title" content={title /* raw title (no branding) */} />
		<meta property="og:url" content={`${urlToLangUrl(Astro.url!, lang)}`} />
		<meta property="og:image" content={`${Astro.site}assets/images/logo-full.png`} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />

		<ViewTransitions />
	</head>
	<body transition:animate="fade">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WM76QWGH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

		<header>
			<MainNav />
		</header>
		<main>
			<slot />
			<WhatsApp />
		</main>
		<Footer><slot name="footer" slot="footer" /></Footer>
	</body>
</html>
